@import "tailwindcss";
body{
    background-color: #090B1E;
}
.container{
    width: 100%;
    max-width: 1250px;
    margin: auto;
}


.transition-200 {
    transition: 0.2s ease-in-out;
}

html {
    scroll-behavior: smooth;
}
